#nav {
    position: relative;
    width: 100%;
}

/* list */
#list-nav {
    padding: 0;
    margin: 0;
}


.item-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.link-nav {
    padding: 10px;
    display: block;
    color: black;
    text-transform: capitalize;
    font-weight: 400;
    width: 100%;
    font-size: 18px;
}

.item-nav:hover {
    background: #E3E3E3;
}

.icon__list-nav {
    margin-right: 12px;
    background-clip: text;
    color: transparent;
}

.icon__list-nav-1 {
    background-image: linear-gradient(#E21143, #d1f874, #4696ff);
}

.icon__list-nav-2 {
    background-image: linear-gradient(100deg, #FFD700, #F08080, #32CD32);
}

.icon__list-nav-3 {
    background-image: linear-gradient(#00CED1, #FFF8DC, #0076fd);
}

.icon__list-nav-4 {
    background-image: linear-gradient(60deg, #FF69B4, #ff573a, #46ffa3);
}

.icon__list-nav-5 {
    background-image: linear-gradient(#e21111, #fc86cb, #46ff93);
}

.icon__list-nav-6 {
    background-image: linear-gradient(100deg, #2611e2, #79fcd5, #ff46c1);
}

/* social internet */
#social__internet-nav {
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.link-social {
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    color: #868686;
    margin-left: 0;
    margin-right: 10px;
    border-radius: 100%;
    background-color: #85858542;
}

.link-social:hover {
    color: #575757;
    background-color: #8585854b;
}

/* img-nav */
#img-nav{
    width: 100%;
    height: 250px;
    padding: 15px 0;
}

.img-nav{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}