#videos {
    padding: 2rem 0;
}

.box-videos {
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.14);
    text-align: left;
    width: 100%;
    height: auto;
    background: white;
}

.video-detail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.review-video {
    width: 100%;
    padding: 12px;
}


.name-video {
    font-size: 14px;
    color: #aaaaaa;
    margin: 0;
}

.link-video {
    display: block;
    color: black;
}